{% extends 'base.html' %}

{% load static %}

{% block title %}
  Home
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="../static/home.css" />
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const textArea = document.getElementById('Text')
      const charCountSpan = document.getElementById('charCount')
      const wordCountSpan = document.getElementById('wordCount')
    
      textArea.addEventListener('input', () => {
        const text = textArea.value.trim()
        const charCount = text.length
        const wordCount = text === '' ? 0 : text.split(/\s+/).length
    
        charCountSpan.textContent = charCount
        wordCountSpan.textContent = wordCount
      })
    })
  </script>
{% endblock %}

{% block content %}
  <div class="welcome-container">
    <h1 class="animated-text">Welcome to Spell Bot</h1>
  </div>

  <div class="form-container">
    <form method="post" action="{% url 'spell_check' %}">
      {% csrf_token %}
      <div class="mlogo">
        <img src="../static/new-spellbot.jpg" alt="LOGO" />
      </div>
      <label for="text_to_check">Enter text for spell check:</label>
      <textarea name="text_to_check" rows="6" placeholder="Type or paste your text here" id="Text"></textarea>
      <p>
        Word count: <span id="wordCount">0</span>
      </p>
      <p>
        Character count: <span id="charCount">0</span>
      </p>
      <input type="submit" value="Check Spelling" />
    </form>

    {% if feedback_message %}
      <p class="error-message">{{ feedback_message }}</p>
    {% endif %}
  </div>

  <div class="text-container">
    <h3>Spellbot</h3>
    <p>Spelling checkers, a ubiquitous tool in our digital world, have greatly benefited from machine learning techniques. In this article, we will explore how machine learning is transforming spelling checkers and making written communication more efficient and error-free. Machine learning-powered spelling checkers have elevated the quality of written communication by providing more accurate, context-aware, and user-specific suggestions. As technology continues to evolve, these tools are likely to become an integral part of our daily writing routines, helping us communicate more effectively and efficiently. Embracing this technology can save time, reduce errors, and enhance the overall quality of our written content.</p>
  </div>

  <div class="text-container_1">
    <h3>Reasons to do a spell check</h3>

    <p class="spell-abt">Many people are already using it every day, but few think about the importance of this small spelling checker tool. A Spellbot provides a complete analysis of a text, entirely online and automated. This will enable you to correct every error in your texts, making them easier to read and to present. Spellbot is an English Grammar Corrector that allows you to get an Online Grammar Correction simply by pasting the text that you wish to check into the appropriate text box. While its heart beats to the rhythm of complex code, the tool is easy to use and was created to guarantee the best user experience to everyone. Online Grammar Correction is one thing everyone should use before sending an email or a resume.</p>
  </div>
  {% if feedback_message %}
    <p class="error-message">{{ feedback_message }}</p>
  {% endif %}
{% endblock %}
